<div class="row">
	<div class="col-md-12 footer">
		<a href="/rss" alt="Flux rss"><img class="footerLogo" src="/assets/images/LogoRss.png"/></a>
		<a href="https://www.facebook.com/stupeuretcanape" alt="Page facebook"><img class="footerLogo" src="/assets/images/LogoFb.png"/></a>
	</div>
</div>