      <div class="col-md-3 headerStupeur logo">
        <div role='banner' >
			{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" class="headerStupeurImage" />{{/if}}
		</div>
      </div>
      <div class="col-md-9 menu headerStupeur">
        <a href="/" alt="Accueil"><img src="/assets/images/menu_accueil.png" class="imgMenu" alt="Accueil"/></a>
        <a href="/personnages" alt="Les personnages"><img src="/assets/images/menu_personnages.png" class="imgMenu" alt="Les personnages"/></a>
        <a href="/archives-post" alt="Les archives"><img src="/assets/images/menu_archives.png" class="imgMenu" alt="Archives"/></a>
        <a href="/extra" alt="Extras"><img src="/assets/images/menu_Extra.png" class="imgMenu" alt="Extras"/></a>
        <a href="/a-propos" alt="À propos"><img src="/assets/images/menu_Apropos.png" class="imgMenu" alt="À propos"/> </a>
      </div>
